* {
  padding: 0;
  margin: 0;
}
.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  opacity: initial;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.header1 {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header2 {
  display: flex;
  align-items: center;
  gap: 50px;
}
.heaader__select {
  border: none;
}
.heaedr__button {
  border: none;
}

.home {
  margin-top: 40px;
  background-color: #f7f2f2;
}
.home__head {
  color: #a7a6a6;
}

.home__section {
  display: flex;
  justify-content: space-between;
}
.home__section {
  margin-top: 30px;
}
.home__section p {
  max-width: 690px;
}
.home__sections {
  text-align: center;
}
.home__section--button1 {
  background-color: #ffcc33;
  max-width: 350px;
  min-width: 250px;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.home__section--button1:hover {
  background-color: rgb(243, 219, 7);
}
.home__section--button {
  background-color: white;
  max-width: 350px;
  min-width: 250px;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.home__section--button:hover {
  background-color: rgb(243, 219, 7);
}

.New__okno {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  font-size: 20px;
  text-align: center;
  border: 1px solid;
  position: absolute;
  bottom: 0;
  left: 35%;
  background-color: white;
  box-sizing: border-box;
}

@media screen and (max-width: 405px) {
  .New__okno {
    margin-right: 50px;
  }
}

@media screen and (max-width: 630px) {
  .header2__h3 {
    display: none;
  }
  .home__section {
    display: block;
  }
}

@media screen and (max-width: 522px) {
  .heaader__select {
    display: none;
  }
}

@media screen and (max-width: 445px) {
  .header__h3 {
    display: none;
  }
}
@media screen and (max-width: 362px) {
  .home__section--img {
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-evenly;
  }
}
