* {
  padding: 0;
  margin: 0;
}
.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.header1 {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header2 {
  display: flex;
  align-items: center;
  gap: 50px;
}
.heaader__select {
  border: none;
}
.heaedr__button {
  border: none;
}

.home1 {
  background-color: #ffcc33;
  display: flex;
  justify-content: space-around;
}
.home-header--h1 {
  font-size: 40px;
  max-width: 700px;
}
.home-header--p {
  font-size: 20px;
  max-width: 600px;
}
.home-header-button {
  margin-top: 30px;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.feature {
  margin-top: 50px;
}
.feature-1 {
  display: flex;
  justify-content: space-around;
}
.feature-2 {
  display: flex;
  justify-content: space-around;
}
.feature-2-h1 {
  font-size: 25px;
}
.feature-2-p {
  max-width: 300px;
  margin-top: 10px;
  font-size: 20px;
}
.feature-2-button {
  margin-top: 10px;
  background-color: #ffcc33;
  border: none;
  border-radius: 20px;
  padding: 5px;
}
.feature-1__p {
  width: 200px;
}
@media screen and (max-width: 990px) {
  .home1 {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 756px) {
  .feature-1 {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 630px) {
  .header2__h3 {
    display: none;
  }
}
@media screen and (max-width: 533px) {
  .feature-2 {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 522px) {
  .heaader__select {
    display: none;
  }
  .feature-3 {
    margin-top: 20px;
  }
  .feature-img {
    margin-top: 20px;
  }
}

@media screen and (max-width: 445px) {
  .header__h3 {
    display: none;
  }

  @media screen and (max-width: 370px) {
    .home__section--img {
      width: 100%;
    }

    .header {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
